.container-fluid {
    margin-bottom: 100px;
}

.banner-message {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 110px;
    height: 120px;
    position: absolute;
    line-height: 80%;
    color: white;
    text-shadow: 2px 3px 8px rgba(19, 19, 63, 0.356);
    margin-bottom: 0;
}
.banner-row-1 {
    height: 100px;
    width: 100%;
    background-image: url('../Images/clouds-1.jpg');
    background-position-y: -35%;
    background-position-x: 90%;
}
.banner-row-2 {
    height: 120px;
    width: 100%;
    background-image: url('../Images/selfie.png');
    background-position-y: -75%;
    background-position-x: 100%;
}
.banner-row-3 {
    height: 100px;
    width: 100%;
    background-image: url('../Images/clouds-1.jpg');
    background-position-y: -20%;
    background-position-x: 90%;
}
.display-4 {
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px rgba(128, 128, 128, 0.445);
}
/* banner Css */


#post-title {
    margin-right: 5%;
    max-width: 70%;
    text-align: center;
}
.tags {
    max-width: 30%;
}
.tags h6 {
    display: inline;
}
.post {
    margin: 0 auto;
    width: 80%;
}
.post :first-child div{
    padding-top: 6em;
}
.list-inline a {
    font-size: 14px;
}
.post-content {
    margin-top: 5%;
}
.post-content p{
    padding-top: 3%;
}
.post-content h3 {
    padding-top: 2%;
}
.left {
    float: left;
    width: 400px;
    height: 275px;
    padding: 50px 20px 20px 0;
}
.right {
    float: right;
    width: 400px;
    height: 275px;
    padding: 50px 0 20px 20px; 
}
.middle {
    width: 80%;
    height: 20%;
    margin: 0 auto;
    display: block;
}
/* main body CSS */

.nav {
    background-color: black;
}
.nav li {
    width: 12%;
    text-align: center;
}
.nav li a {
    color: white;
}

/* nav CSS */
